<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body class="{{ .Param `theme` | default `auto` }} page-cv">
  <div class="cv-topbar">
    <header>
      {{ partial "header.html" . }}
    </header>
  </div>
  <main data-page-content tabindex="-1">
    {{ .Content }}
  </main>

  {{ partial "functions/get_hook.html" (dict "hook" "body_end" "context" .) }}

  {{ if .Param "math" }}
  {{ partialCached "math.html" . }}
  {{ end }}
</body>
</html>
